<div class="fab-container">
    <div class="fab shadow">
        <div class="fab-content">
            <i class="bi bi-three-dots-vertical btnIcon"></i>
        </div>
    </div>
    <div class="sub-button shadow">
        <a id="tooltip" href="/merge" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
            data-bs-title="Unificar arquivos .PDF">
            <i class="bi bi-journal-plus btnIcon"></i>
        </a>
    </div>
</div>